body {
  font-size: 16px;
  font-family: Helvetica;
  
}
/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
 }
 .navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

 .navbar-brand {
  padding-top: 15px;
} 

.navbar-brand h1 {
  /* Restaurant name */
  color: rgb(248, 239, 239);
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;  
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
    
a.navbar-brand {
  height: 70px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}



.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #f7eff2;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:-45px;
  
}
/* .navbar-nav li a:hover, .navbar-nav > .active > a {
   background-color:rgb(181, 126, 226) !important;
   opacity: .5 !important;  
} */


/* .navbar-nav {
  margin-bottom: 0px;
} */

#nav-list {
  background-color:rgb(229, 188, 226);
   margin-top: 10px;
   margin-bottom: 0px;
} 
#nav-list a {
  color: #951c49;
  font-weight: bold;
  /* margin-top:10px; */
  margin: 10px 0;
  /* line-height: 25px; */
 } 

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  margin-top:10px;
  margin-bottom:10px;

  }
#menu-categories-title{
  font-weight: bold; 
  padding-top: 22px;
  margin-bottom: 40px;
}

.menu-item-title {
   font-size: 1.6em;
  font-weight: bold; 
  padding-top: 10px;
  } 
   .menu-item-details{
   padding: 15px;
   font-size: 1em;
  font-weight: BOLD;
  text-align: justify;
   }


  #chicken,#beef,#shushi {
   /* border: 1px solid black;  */
    margin: 10px;   
    background-color: thistle;
    
  }
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 20px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.3em;
  }



}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 20px;
    font-size:7vw;
  }

  .navbar-header button.navbar-toggle {
 
    margin-top:-50px;
    
  }
  /* End Header */
  


}


